<article id="{{ id }}">
  <hgroup>
    <h2><a class="post-link" data-id="{{ id }}" href="#!post/{{ id }}">Quote</a></h2>
    <h3><a href="#{{ id }}">{{ formated_date }}</a></h3>
  </hgroup>
  <blockquote>
    {{{text}}}
  </blockquote>
  {{#if source}}
  <p>{{{ source }}}</p>
  {{/if}}
  <footer>
    {{#if tags }}
    <h4>Tags</h4>
    <ul class="tags">
      {{#each tags}}
      <li><a class="tags-link" href="#!tags/{{ this }}">{{ this }}</a></li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if disqus_enabled }}
    {{#if disqus_just_count}}
    <div id="disqus_thread" class="disqus-thread">
      <a data-id="{{ id }}" href="#!post/{{ id }}#disqus_thread" class="comments post-link"></a>
    </div>
    {{else}}
    <div class="disqus_show_comments" data-id="{{id}}">
	    <a>Show Comments</a>
    </div>
    {{/if}}
    {{/if}}
  </footer>
</article>
