body {
    width: 100%;
    height: 100%;
}
.settings-button {
    border: 1px solid #486229;
    width: 250px;
    height: 50px;
    background-color: #16C816;
    display: inline-block;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 3;
}
.settings-button:hover {
    background-color: #11F211;
}
.settings-button:hover,
.settings-button,
.settings-button:active {
    text-decoration: none;
    color: black;
}
#settings-frame {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: auto auto;
}
